<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fhooe.tellustrations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tellustrations">
        <activity android:name=".ActivityResults"></activity>
        <activity android:name=".ActivitySketch" />
        <activity android:name=".ActivityCheckBuffer" />
        <activity android:name=".ActivityWrite" />
        <activity android:name=".ActivityDraw" />
        <activity android:name=".ActivityFirstSentence" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>